{
    "name": "FreePowerups",
    "rules": [
        "FreePowerups"
    ],
    "UI": {
        "CardTextInfo": [
            {
                "Text": "",
                "offsetY": 10
            },
            {
                "Text": "1x Map Skip",
                "Icon": "ltd_skip_icon",
                "offsetX": 15,
                "offsetY": -4
            },
            {
                "Text": "2x Random Rolls",
                "Icon": "ltd_random_icon",
                "offsetX": 15,
                "offsetY": -4
            },
            {
                "Text": "3x Tower Boosts",
                "Icon": "ltd_tower_boost_icon",
                "offsetX": 15,
                "offsetY": -4
            },
            {
                "Text": "3x Bloon Boosts",
                "Icon": "ltd_bloon_boost_icon",
                "offsetX": 15,
                "offsetY": -4
            },
            {
                "Text": "3x Red Hot Spikes",
                "Icon": "ltd_rhs_icon",
                "offsetX": 15,
                "offsetY": -4
            }
        ],
        "DisplayIcon": "rulesIcon_FreePowerups",
        "DisplayInfo": "USE WISELY",
        "DisplayName": "FREE POWERUPS",
		"LobbyName" : ""
    }
}